# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
solvers/tetragonal_neural/.ipynb_checkpoints

common/\.idea/

common/com\.evgenykislov\.minesweeper_bot\.common\.egg-info/

common/dist/

emulator/\.idea/

solvers/tetragonal_neural/\.idea/

solvers/tetragonal_neural/data/

emulator/data/

emulator/__pycache__/

*.txt

bot/minesweeper_bot\.pro\.user

build-minesweeper_bot-Desktop_Qt_5_10_0_GCC_64bit-Debug/

*.user
