# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
#*.lai
#*.la
#*.a
#*.lib

# Executables
*.exe
*.out
*.app
solvers/tetragonal_neural/.ipynb_checkpoints

common/\.idea/

common/com\.evgenykislov\.minesweeper_bot\.common\.egg-info/

common/dist/

emulator/\.idea/

solvers/tetragonal_neural/\.idea/

emulator/__pycache__/

bot/minesweeper_bot\.pro\.user

build-minesweeper_bot-Desktop_Qt_5_10_0_GCC_64bit-Debug/

*.user

solvers/tetragonal_neural/__pycache__/

bot-profiler/

bot-release/

solvers/tetragonal_neural/train/

bot/build-models-Desktop_Qt_5_10_0_GCC_64bit-u041eu0442u043bu0430u0434u043au0430/

build-minesweeper_bot-Desktop_Qt_5_12_4_MinGW_32_bit-Debug/

build-minesweeper_bot-Desktop_Qt_5_12_4_MinGW_32_bit-Release/
